<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<div class="rendered-form">
    <div>
        <div class="formbuilder-text form-group field-text-1661604903129">
            <label for="text-1661604903129" class="formbuilder-text-label">Enter Subject for which you need topic</label>
            <input type="text" class="form-control" name="text-1661604903129" access="false" id="text-1661604903129">
        </div>
        <div class="formbuilder-button form-group field-button-1661605018697">
            <button type="button" class="btn-primary btn" name="button-1661605018697" access="false" style="primary" id="button-1661605018697" >Button</button>
        </div>
        <div class="formbuilder-textarea form-group field-textarea-1661604994210">
            <label for="textarea-1661604994210" class="formbuilder-textarea-label">topic Ideas From AI</label>
            <textarea type="textarea" class="form-control" name="textarea-1661604994210" access="false" id="textarea-1661604994210"></textarea>
        </div>
    </div>
    <di
    <div class="formbuilder-text form-group field-text-1661605147618">
        <label for="text-1661605147618" class="formbuilder-text-label">Enter the topic on which you need a blog</label>
        <input type="text" class="form-control" name="text-1661605147618" access="false" id="text-1661605147618">
    </div>
    <div class="formbuilder-button form-group field-button-1661605192154">
        <button type="button" class="btn-primary btn" name="button-1661605192154" access="false" style="primary" id="button-1661605192154">Button</button>
    </div>
    <div class="formbuilder-textarea form-group field-textarea-1661605202002">
        <label for="textarea-1661605202002" class="formbuilder-textarea-label">Generated blog</label>
        <textarea type="textarea" class="form-control" name="textarea-1661605202002" access="false" id="textarea-1661605202002"></textarea>
    </div>

</div>
</body>
</html>